.alignment{
    margin-left: 20px;
    position: relative;
}
.brand{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;
    padding: 5px;
    margin-left: 5px;
}
.centeralign{
    margin: 0 auto;
    width: 65%;
    align-content: center;
    padding: 20px;
}
.tablealign{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    align-content: center;
    padding: 20px;
}
